.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.secondbox h2{
    text-align: center;
    max-width: 637px;
    margin: auto;
    margin-top: 50px;
    padding: 36px 0;
    padding-bottom: 0%;
}
.secondbox p{
    text-align: center;
    max-width: 637px;
    margin: auto;
    margin-top: 50px;
    padding: 36px 0;
    padding-bottom: 0%;
}
.secondbox h5{
    text-align: center;
    max-width: 637px;
    margin: auto;
    margin-top: 50px;
    padding: 36px 0;
    padding-bottom: 0%;
}